<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="subtitle"><h1>Hola vale, a que hora llegaste</h1></div>
  </section>
</body>
</html>